<div class="home">
  <div>
    <h1>Peer Id: {{ HomeCtrl.peerID }}</h1>
    <h2>Secret: {{ HomeCtrl.secret }}</h2>
    <h3>Remote Peer Id: {{ HomeCtrl.remotePeerID }}</h3>
    <button ng-click="HomeCtrl.callRandomPeer()">Call Random Peer</button>
    Requested Peer: <input type="text" ng-model="HomeCtrl.remotePeerID" >
    <button ng-click="HomeCtrl.callRequestedPeer()">Call Requested Peer</button>
    <button ng-click="HomeCtrl.endCall()">End Call</button>
    <ul>
      <li ng-repeat="id in HomeCtrl.peerIDs">{{id}}</li>
    </ul>
    <h4>Number of connected peers {{HomeCtrl.onlineUsers}}</h4>
  </div>
</div>