<div ng-cloak>
  <md-content>
    <md-toolbar class="md-theme-indigo">
      <h2 class="md-toolbar-tools">
        <span>Register</span>
      </h2>
    </md-toolbar>
    <form role="form">
      <md-input-container flex>
        <label for="username">Username</label>
        <input required type="text" id="username" ng-model="RegCtrl.user.username" focus-if>
      </md-input-container>
      <md-input-container flex>
        <label for="password">Password</label>
        <input required type="password" class="form-control" id="password" ng-model="RegCtrl.user.password">
      </md-input-container>
      <div layout="row">
        <md-input-container style="margin-right: 10px;">
          <label for="gender">Gender</label>
          <md-select ng-model="RegCtrl.user.gender" id="gender">
            <md-option value="NONE">Select a gender</md-option>
            <md-option value="FEMALE">Female</md-option>
            <md-option value="MALE">Male</md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-input-container>
        <b>About</b>
        <textarea ng-model="RegCtrl.user.about" aria-label="about"></textarea>
      </md-input-container>
      <label for="picture">Profile Picture</label>
      <md-radio-group ng-model="RegCtrl.user.picUrl">
        <md-radio-button ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" name="picture" aria-label="{{i}}" value="http://lorempixel.com/100/100/abstract/{{i}}">
          <img src="http://lorempixel.com/100/100/abstract/{{i}}" />
        </md-radio-button>
      </md-radio-group>
      <div layout layout-sm="column">
        <md-button type="submit" class="md-raised md-primary" ng-click="RegCtrl.register();">Register</md-button>
        <md-button ui-sref="login()">Click here to Login</md-button>
      </div>
    </form>
</div>