<section>    
    <md-sidenav class="md-sidenav-left md-whiteframe-dp1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-button ng-click="MenuCtrl.state.go('home')">Game</md-button>
        <md-button ng-click="MenuCtrl.state.go('user', {username: MenuCtrl.store.get('username')})" ng-show="MenuCtrl.store.get('username')">Profile</md-button>
        <md-button ng-click="MenuCtrl.state.go('login')" ng-hide="MenuCtrl.store.get('username')">Login</md-button>        
        <md-button ng-click="MenuCtrl.state.go('register')" ng-hide="MenuCtrl.store.get('username')">Register</md-button>  
        <md-button ng-click="MenuCtrl.store.remove('jwt'); MenuCtrl.store.remove('username'); MenuCtrl.state.go('login')" ng-show="MenuCtrl.store.get('username')">Logout</md-button>                      
    </md-sidenav>
</section>